In [21]:
import pandas as pd
# 라이브러리 불러오기
import pandas as pd

# Timestamp의 배열 만들기 - 월 간격, 월의 시작일 기준
ts_ms = pd.date_range(start='2025-01-01',    # 날짜 범위의 시작
                   end='2025-10-02',                 # 날짜 범위의 끝
                   periods=100,                # 생성할 Timestamp의 개수
                #    freq='MS',                # 시간 간격 (MS: 월의 시작일)
                   tz='Asia/Seoul')          # 시간대(timezone)


data = { 'date': ts_ms.strftime('%Y-%m-%d')}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df.date)
# df.info()
# 년도를 추출해서 새로운 컬럼으로 넣기
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day_int'] = df.date.dt.weekday  #0 월요일
def convert_week(x):
    temp = ['월','화','수','목','금','토','일']
    return temp[x]
df['day_str'] = df['day_int'].apply(lambda x : convert_week(x))

# 주말(토일)은 1 나머지는 0
df['day_weekend'] = df['day_str'].apply(lambda x : 1 if x in ['토','일'] else 0)
df.head()

        date  year  month  day_int day_str  day_weekend
0 2025-01-01  2025      1        2       수            0
1 2025-01-03  2025      1        4       금            0
2 2025-01-06  2025      1        0       월            0
3 2025-01-09  2025      1        3       목            0
4 2025-01-12  2025      1        6       일            1