In [1]:
import seaborn as sns
import pandas as pd

In [2]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
# day별로 tip의 평균

tips.groupby("day",observed=True)['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [14]:
tips.groupby(['day','sex'],observed=True)['tip'].mean()

day   sex
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

In [16]:
tips.groupby('day',observed=True)['total_bill'].agg(['sum','mean',"max"])

          sum       mean    max
day
Thur  1096.33  17.682742  43.11
Fri    325.88  17.151579  40.17
Sat   1778.40  20.441379  50.81
Sun   1627.16  21.410000  48.17

In [19]:
tips.groupby('day',observed=True)['tip'].agg( lambda x:x.max()-x.mean()  )

day
Thur    3.928548
Fri     1.995263
Sat     7.006897
Sun     3.244868
Name: tip, dtype: float64

In [22]:
g = tips.groupby('day',observed=True )
print(g)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020D60A87650>

In [25]:
g.groups

{'Thur': [77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 243], 'Fri': [90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 220, 221, 222, 223, 224, 225, 226], 'Sat': [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 168, 169, 170, 171, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242], 'Sun': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 112, 113, 114, 115, 116, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190]}

In [27]:
g_tip = tips.groupby('day',observed=True)['tip']
g_tip

In [31]:
pd.Series(g_tip.groups)

Thur    Index([ 77,  78,  79,  80,  81,  82,  83,  84,...
Fri     Index([ 90,  91,  92,  93,  94,  95,  96,  97,...
Sat     Index([ 19,  20,  21,  22,  23,  24,  25,  26,...
Sun     Index([  0,   1,   2,   3,   4,   5,   6,   7,...
dtype: object