In [ ]:
# 선형회귀... 직선의 방정식
# y = w0x + b

# 다항회귀--- 곡선의 방정식(비선형)
# y = w0x^2 + w1x + c   -> 계산과정을 간단하게... 계한하기 편한 모양을 맞춰주기 위해서 bias 추가

# 공부시간(x), 점수(y)
# 점수 = w0 x 시간 + b
# 2,70   4,90
# 70 = w0x2+b    90 = w0x4 + b

# b를 상수가 아니라...계수(w 가중치)로 취급   b  bx1
# 점수 = (w0 x 시간) + (b x 1)

In [2]:
# 동일한 조건으로 두가지를 비교
# 데이터 로드
import pandas as pd
url = './data/auto-mpg.csv'
df = pd.read_csv(url,header=None)
df.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino